
/* section 1*/

.section1 {
    margin: 10px;
}

.titreSection1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.vignetteEntiere {
    display: flex;
    justify-content: space-between;
    max-height: 600px;
}

.vignetteIndividuel {
min-height: 25%;
box-shadow: 1px 1px 12px #F2F2F2;
border-radius: 25px;
margin: 15px;
}

.dimensionImage {
width: 100%;
height: 90%;
object-fit: cover;
border-radius: 25px 25px 0 0;
}

.titreImage  {
height: 10%;
padding: 0 0 0 10px;
}

.doublePhoto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dimenssionPetit1 {
height: 45%;
}

.dimenssionPetit2 {
height: 30%;
}

.dimenssionPetit3 {
height: 30%;
}

.dimenssionPetit4 {
height: 40%;
}