
/* Général */

.fondBlanc {
background-color: white;
}

.contourActivite {
border-radius: 25px
}

.contour {
box-shadow: 1px 1px 12px #F2F2F2;
}

/* section 1*/

.section1 {
margin: 10px;
}

.titreSection1 {
margin-top: 40px;
margin-bottom: 40px;
}

.vignetteEntiere {
display: flex;
justify-content: space-between;
max-height: 600px;
}

.vignetteIndividuel {
display: flex;
flex-direction: column;
width: 25%;
border-radius: 25px;
margin: 15px;
}

.dimensionImage {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 25px 25px 0 0;
}

.titreImage  {
margin: 5px;
}

.doublePhoto {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.dimenssionPetit1 {
height: 55%;
}

.dimenssionPetit2 {
height: 40%;
}

.dimenssionPetit3 {
height: 45%;
}

.dimenssionPetit4 {
height: 50%;
}

/* section 2 */

.section2 {
margin: 10px;
}

.vignetteEntiere2 {
display: flex;
justify-content: space-between;
height: 600px;
}

.vignetteIndividuel2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    margin: 15px;
    border-radius: 25px;
}